:root {
    /* Colors */
    --red: #d52b1e;
    --yellow: #fed100;
    --blueDark: #283044;
    --blueLight: #78A1BB;
    --cream: #EBF5EE;

    --dark: #1c1c1c;
    --white: #fff;
    --black: #000;
    --secondaryGrey: #A9A9A9;
    --lightGrey: #e8e9eb;
}

html p {
    font-size: 17px;
    color: red;
}

main {
    padding: 0;
    margin: 0 1em;
}

.grid-pagina {
    grid-gap: .5em;
    grid-template-columns: repeat(2, 1fr);
}

.iframe-container iframe {
    width: 70%;
    height: auto;
}

.section-2-program {
    font-size: 14px;
    /* Decrease the font size */
}

.section-2-program th,
.section-2-program td {
    padding: 5px;
    /* Decrease the padding */
}

/* --------- Navbar--------- */

.nav-ul {
    display: none;
    border: 2px solid #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: auto;
    background-color: var(--blueDark);
    padding: 5em 0 0 0;
    transition: left 0.5s ease;
}

ul li ul {
    position: fixed;
}


.navbar .hamburger {
    padding: 1em;
    display: block;
    z-index: 200;
}

/* --------------- Sections --------------- */

.section-1 {
    flex-direction: column;
}

.section-1 img {
    width: 50%;
}

/* --------------- Footer --------------- */
.footer {
    flex-direction: column;
}