html {
    font-size: 14px;
}

.section-1 img {
    width: 10em;
    height: auto;
}

main {
    padding: 0;
    margin: 0;
    width: 100%;
}

.grid-pagina {
    grid-gap: .2em;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(8,1fr); */
    grid-template-areas:
        "section-1"
        "section-5"
        "section-6"
        "section-7"
        "section-3"
        "section-2"
        "section-4"
        "section-8";
}

.iframe-container iframe {
    width: 60%;
    height: auto;
}
