<header class="header">
    <nav class="navbar">
        <a href="index.html" class="nav-logo">Racebox</a>
        <ul class="nav-menu">
            <li><a href="index.html" class="nav-link underlined">Acasă</a></li>
            <li><a href="#" class="nav-link underlined">Cumpără</a></li>
            <li><a href="#" class="nav-link underlined">Închiriază</a></li>
            <li><a href="#" class="nav-link underlined">Contact</a></li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>